<!DOCTYPE html>
<html>
<head>
    <title>Home - Football and Cars Dashboard</title>
</head>
<body>
    <h1>Welcome to the Football and Cars Dashboard</h1>
    <div>
        <button onclick="window.location.href=''">Home</button>
        <button onclick="window.location.href='/cars/'">Cars</button>
        <button onclick="window.location.href='/football_games/'">Football Games</button>
        <button onclick="window.location.href='/football_players/'">Football Players</button>
    </div>
</body>
</html>
