<nav>
    <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="{% url 'car_list' %}"><i class="fas fa-car"></i> Cars</a></li>
        <li><a href="{% url 'football_game_list' %}"><i class="fas fa-futbol"></i> Football Games</a></li>
        <li><a href="{% url 'football_player_list' %}"><i class="fas fa-users"></i> Football Players</a></li>
        <li><a href="{% url 'voice_list' %}"><i class="fas fa-microphone"></i> Voice Recordings</a></li>
    </ul>
</nav>
